@use "./colors" as *;
@use "./typography" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: $titles-font;
  position: relative;
}

html {
  font-size: 62.5%;
  direction: rtl;
}

/* global */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 19px;
}
