// font family
$titles-font: "Cairo", sans-serif;
$text-font: "Changa", sans-serif;

// sizes
$h1-size: 3.2rem;
$h2-size: 2.2rem;
$h3-size: 1.6rem;
$h4-size: 1.4rem;
$p-size: 0.8rem;
$input-size: 1.4rem;
