@use "../global/" as *;

.catogary-header {
  padding-top: 15rem;
  height: 50vh;

  position: relative;
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__current {
    color: $text-black;
    font-size: $h2-size;
    font-weight: 600;
    font-family: $titles-font;
    margin-bottom: 4rem;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    button {
      border: none;
      background-color: transparent;
      font-weight: 700;
      font-size: $h3-size;
      font-family: $titles-font;
      cursor: pointer;
    }
    a {
      border: 4px solid $bg-Lgreen;
      padding: 0.2rem 1rem;
      color: $text-black;
    }
  }
}
.catogary.active {
  background-color: $bg-Lgreen;
  color: white !important;
}
