@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Cairo", sans-serif;
  position: relative;
}

html {
  font-size: 62.5%;
  direction: rtl;
}

/* global */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 19px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #bde343 #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #bde343;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #bde343;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #bde343;
}

header {
  box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.23);
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: white;
  overflow: hidden;
}
header .container {
  width: 100%;
}

.larg-devices-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: all 0.3s ease-in-out;
  height: 10rem;
}
.larg-devices-nav.top-header {
  height: 14rem;
}
.larg-devices-nav img {
  width: 75px;
}
.larg-devices-nav__links {
  display: flex;
  gap: 2.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Changa", sans-serif;
  list-style: none;
}
.larg-devices-nav__links a {
  text-decoration: none;
  color: #000000;
}
.larg-devices-nav__links .buttons {
  display: flex;
}
.larg-devices-nav__links button {
  margin: 0 1.5rem;
  font-size: 1.6rem;
  border: none;
  background-color: white;
  cursor: pointer;
  position: relative;
}
.larg-devices-nav__links .cart-items {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  font-family: "Changa", sans-serif;
  background-color: #bde343;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 800;
  color: #000000;
}
.larg-devices-nav__links .cart-icon {
  font-size: 2.2rem;
}
.larg-devices-nav__links .mobile-links-icon {
  display: none;
}
@media (max-width: 950px) {
  .larg-devices-nav__links .mobile-links-icon {
    display: block;
  }
}
.larg-devices-nav__links .link {
  position: relative;
}
@media (max-width: 950px) {
  .larg-devices-nav__links .link {
    display: none;
  }
}
.larg-devices-nav__links .link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #bde343;
  transition: all 0.3s ease-in-out;
}
.larg-devices-nav__links .link:hover::after {
  width: 100%;
}

.mobile-nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 100%;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background-color: white;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}
.mobile-nav .close-nav {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 3rem;
  margin: 3rem;
  cursor: pointer;
}
.mobile-nav__links {
  list-style: none;
}
.mobile-nav__links li {
  text-align: center;
}
.mobile-nav__links a {
  text-decoration: none;
  color: #000000;
  font-size: 3.2rem;
  font-family: "Changa", sans-serif;
  text-align: center;
}
.mobile-nav__links a:hover {
  color: #bde343;
  transition: all 0.3s;
}

.nav-open {
  left: 0;
  opacity: 1;
}

.cart-modal {
  position: fixed;
  width: 60vw;
  height: 100%;
  top: 0%;
  right: 100%;
  background-color: white;
  z-index: 6;
  padding-top: 1rem;
  transition: all 0.3s ease-in-out;
  overflow: scroll;
}
@media (max-width: 750px) {
  .cart-modal {
    width: 100vw;
  }
}
.cart-modal__header {
  box-shadow: 0px 4px 5px -5px #bee343;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3.2rem 2rem;
  font-family: "Changa", sans-serif;
}
.cart-modal__header h2 {
  font-size: 2.2rem;
  font-weight: 700;
}
.cart-modal__header h2 span {
  color: #bee343;
}
.cart-modal__header svg {
  width: 3rem;
  height: 3rem;
  margin-left: rem;
  cursor: pointer;
}
.cart-modal__content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.cart-modal-product {
  display: flex;
  border-bottom: 1px solid #ffaa52;
  position: relative;
}
.cart-modal-product img {
  width: 150px;
  height: auto;
}
.cart-modal-product .remove-product {
  position: absolute;
  left: 1rem;
  top: 5px;
  font-size: 1.6rem;
  font-weight: 700;
  color: #3a3a3a;
  cursor: pointer;
}
.cart-modal-product .remove-product:hover {
  color: #bde343;
}
.cart-modal-product__info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
}
.cart-modal-product__info h4 {
  font-size: 1.6rem;
  font-weight: 700;
}
.cart-modal-product__info p {
  font-size: 1.6rem;
  font-weight: 600;
  color: #3a3a3a;
}
.cart-modal-product__name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-modal-product__quantity-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}
.cart-modal-product__quantity-price .cart-product__quantity {
  display: flex;
  flex-direction: column;
}
.cart-modal-product__quantity-price .cart-product__quantity button {
  border: none;
  background-color: #bde343;
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
.cart-modal-product__quantity-price .cart-product__quantity button:hover {
  color: #bde343;
}

.empty-cart {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2.2rem;
  font-weight: 700;
  color: #3a3a3a;
  font-family: "Changa", sans-serif;
  height: 30rem;
}
.empty-cart svg {
  width: 5rem;
  height: 5rem;
  margin-left: 2rem;
}

.total-cost-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.total-cost-container button {
  background-color: initial;
  border: 2px solid #000;
  color: #000;
  font-size: 2rem;
  padding: 1rem 3.5rem;
  text-decoration: none;
  transition: all 0.2s;
  font-weight: 700;
  font-family: "Changa", sans-serif;
  cursor: pointer;
}
.total-cost-container button:hover {
  background-color: #bde343;
  color: white;
  border: none;
}

.cart-open {
  right: 40%;
  opacity: 1;
}
@media (max-width: 750px) {
  .cart-open {
    right: 0;
  }
}

.active {
  color: #bde343 !important;
}

.hero {
  padding: 12rem 0 0 0;
  height: 100vh;
  overflow: hidden;
  background-image: url("../images/home-images/rtl-hero-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .container {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}
@media (max-width: 950px) {
  .hero .container {
    justify-content: center;
  }
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 375px;
  height: 375px;
  background-color: #bde343;
  color: #ffffff;
  position: relative;
  text-align: center;
  z-index: 3;
  border-radius: 50%;
  font-family: "Changa", sans-serif;
  box-shadow: 0px 0px 0 10px rgba(190, 227, 67, 0.7607843137), 0px 0px 0 20px rgba(190, 227, 67, 0.5333333333);
}
@media (max-width: 850px) {
  .hero-content {
    width: 300px;
    height: 300px;
    margin: 0;
  }
}
.hero-content h1 {
  font-size: 3.2rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
@media (max-width: 850px) {
  .hero-content h1 {
    font-size: 2.2rem;
  }
}
.hero-content p {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
@media (max-width: 850px) {
  .hero-content p {
    font-size: 1.4rem;
  }
}
.hero-content span {
  color: #071952;
}
.hero-content button {
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  padding: 0.5rem 1rem;
  font-family: "Changa", sans-serif;
  color: white;
  background-color: #071952;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.hero-content button:hover {
  background-color: rgb(35, 48, 86);
  color: #ffffff;
}

.why-section {
  padding-top: 10rem;
}
.why-section__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.why-section__content h3 {
  font-size: 3.2rem;
  font-weight: 800;
  color: #bde343;
  margin-bottom: 4rem;
  font-family: "Cairo", sans-serif;
}

.features {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
}
@media (max-width: 950px) {
  .features {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}
@media (max-width: 650px) {
  .features {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}
.features__feature {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 1rem;
}
@media (max-width: 950px) {
  .features__feature {
    margin-top: 4rem;
  }
}
.features__feature svg {
  margin-bottom: 3rem;
  font-size: 5rem;
  color: #071952;
  overflow: visible;
  background-color: #bde343;
  border-radius: 50%;
  box-shadow: 0px 0px 0 10px rgba(190, 227, 67, 0.7607843137), 0px 0px 0 20px rgba(190, 227, 67, 0.5333333333);
}
.features__feature h4 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  font-family: "Cairo", sans-serif;
}
.features__feature p {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Changa", sans-serif;
  color: #3a3a3a;
}

.catogary-header {
  padding-top: 15rem;
  height: 50vh;
  position: relative;
}
.catogary-header .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.catogary-header .home-icon {
  position: absolute;
  left: 5rem;
  margin: 2rem;
  top: 15rem;
  font-size: 2rem;
  color: #bde343;
  font-family: "Cairo", sans-serif;
  cursor: pointer;
}
.catogary-header .home-icon a {
  text-decoration: none;
}
.catogary-header__current {
  color: #000000;
  font-size: 2.2rem;
  font-weight: 600;
  font-family: "Cairo", sans-serif;
  margin-bottom: 4rem;
}
.catogary-header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.catogary-header__menu button {
  border: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 1.6rem;
  font-family: "Cairo", sans-serif;
  cursor: pointer;
}
.catogary-header__menu a {
  border: 4px solid #bde343;
  padding: 0.2rem 1rem;
  color: #000000;
}

.catogary.active {
  background-color: #bde343;
  color: white !important;
}

.picked-catogary {
  min-height: 100vh;
  padding-top: 10rem;
}
.picked-catogary__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.product-container {
  border: 2px solid rgba(255, 171, 82, 0.2470588235);
  max-width: 250px;
  cursor: pointer;
}
.product-container:hover {
  border: 2px solid #ffaa52;
}
.product-container img {
  width: 100%;
  height: auto;
}
.product-container .product-info {
  padding: 1rem;
}
.product-container .product-info .name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-container .product-info .name-price h4 {
  font-size: 1.6rem;
}
.product-container .product-info .name-price p {
  font-size: 1.4rem;
}
.product-container .product-info p {
  font-size: 1.4rem;
  color: #3a3a3a;
}
.product-container__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.product-container__buttons button {
  display: flex;
  align-items: center;
  border: none;
  border: 2px solid #bde343;
  font-size: 1.3rem;
  font-weight: 700;
  font-family: "Cairo", sans-serif;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  background-color: #bde343;
  color: white;
}
.product-container__buttons button svg {
  font-size: 3rem;
}
.product-container__buttons button:hover {
  background-color: transparent;
  color: #000000;
}
.product-container__buttons .add-to-cart {
  background-color: transparent;
  color: black;
}
.product-container__buttons .add-to-cart:hover {
  background-color: #bde343;
  color: white;
}

.product-page {
  padding-top: 15rem;
  padding-bottom: 10rem;
}
.product-page__content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
@media (max-width: 750px) {
  .product-page__content {
    flex-direction: column;
  }
}
.product-page__content__image {
  flex: 1;
}
.product-page__content__image img {
  width: 200%;
  height: auto;
}
.product-page__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2.2rem;
}
.product-page__info h2 {
  font-weight: 500;
  margin-bottom: 2rem;
}
.product-page__info .price {
  font-size: 2.2rem;
  font-weight: 500;
  color: #3a3a3a;
}
.product-page__info .tax {
  font-size: 1.4rem;
  font-weight: 500;
  color: #3a3a3a;
}
.product-page__button {
  display: flex;
  width: 100%;
  gap: 2rem;
}
.product-page__add-to-cart, .product-page__add-to-weekly {
  margin: 1rem;
  padding: 1rem 2rem;
  background-color: #bde343;
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2rem;
}
.product-page .recipe {
  margin-top: 2rem;
  padding: 0 8rem;
}
@media (max-width: 950px) {
  .product-page .recipe {
    padding: 0 2rem;
  }
}
.product-page .recipe hr {
  border: 1px solid #ffaa52;
  margin: 2rem 0;
}
.product-page .recipe h5 {
  font-size: 1.6rem;
}
.product-page .recipe h3 {
  font-size: 2.2rem;
}
.product-page .recipe ul {
  font-size: 1.4rem;
  color: #3a3a3a;
}
.product-page .recipe .recipe__steps {
  color: #3a3a3a;
  font-size: 1.4rem;
}

.product-slider {
  padding: 15rem 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.product-slider .container {
  width: 100%;
}
.product-slider__btns-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.product-slider__btns-title .btns {
  display: flex;
  gap: 2rem;
}
.product-slider__btns-title .btns button {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  background-color: #bde343;
  border: none;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.product-slider h3 {
  color: #000000;
  font-size: 2.2rem;
  font-weight: 600;
  font-family: "Cairo", sans-serif;
}
.product-slider__content {
  display: flex;
  gap: 2rem;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 1rem 0.6rem;
  position: relative;
  width: 1200px;
  scroll-behavior: smooth;
  white-space: nowrap;
}
.product-slider__content::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.product-card {
  display: flex;
  flex-direction: column;
  outline: 1px solid rgba(255, 171, 82, 0.3764705882);
  border: none;
  cursor: pointer;
  min-width: calc(200px - 2rem);
  transition: all 0.15s ease-in;
  justify-content: space-between;
}
.product-card:hover {
  outline: 1px solid #ffab52;
}
.product-card__image {
  height: 70%;
  position: relative;
  transition: all 1.15s ease-in;
}
.product-card__image::before {
  content: "صفحة المنتج";
  position: absolute;
  width: 10rem;
  height: 5rem;
  border-radius: 1rem;
  background-color: #bde343;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.4rem;
  color: white;
  display: none;
  opacity: 0;
  transition: all 1.15s ease-in;
}
.product-card__image:hover::before {
  display: flex;
  opacity: 0.8;
  top: 50%;
}
.product-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.product-card__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}
.product-card__content button {
  background: #ffab52;
  border: none;
  font-family: "Changa", sans-serif;
  padding: 0 0.5rem;
  cursor: pointer;
  color: white;
}
.product-card__content button:hover {
  background: #bde343;
}
.product-card__content__name-price {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.dont-miss {
  padding-bottom: 10rem;
}
@media (max-width: 950px) {
  .dont-miss {
    padding: 0;
  }
}
.dont-miss__content {
  display: flex;
  justify-content: space-between;
  height: 40rem;
  overflow: hidden;
}
@media (max-width: 950px) {
  .dont-miss__content {
    justify-content: center;
    align-items: center;
  }
}
.dont-miss__image {
  overflow: hidden;
}
.dont-miss__image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 950px) {
  .dont-miss__image {
    display: none;
  }
}
.dont-miss__text {
  width: 50%;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 11rem;
  background-color: #bde343;
  font-weight: 700;
  font-size: 3.2rem;
  font-family: "Changa", sans-serif;
  align-items: flex-start;
  color: white;
}
@media (max-width: 1150px) {
  .dont-miss__text {
    font-size: 2.2rem;
  }
}
@media (max-width: 950px) {
  .dont-miss__text {
    padding: 5rem 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
}
.dont-miss__text p {
  font-size: 2.2rem;
  font-weight: 400;
}
@media (max-width: 1150px) {
  .dont-miss__text p {
    font-size: 1.6rem;
  }
}
.dont-miss__text button {
  background-color: black;
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 1rem;
  text-transform: uppercase;
  margin-top: 2rem;
  cursor: pointer;
  border: 2px solid black;
  transition: all 0.15s;
  font-family: "Changa", sans-serif;
  width: 8rem;
}/*# sourceMappingURL=styles.css.map */