@use "../global/" as *;
header {
  -webkit-box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.23);
  width: 100%;
  position: fixed;
  z-index: 102;
  background-color: white;
  overflow: hidden;
  .container {
    width: 100%;
  }
}
.overley {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #0000009d;
  display: none;
  &.open {
    display: block;
  }
}
.larg-devices-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: all 0.3s ease-in-out;
  &.top-header {
    height: 14rem;
  }
  height: 10rem;
  img {
    width: 75px;
  }
  &__links {
    display: flex;
    gap: 2.5rem;
    font-size: $h3-size;
    font-weight: 500;
    font-family: $text-font;
    list-style: none;
    a {
      text-decoration: none;
      color: $text-black;
    }
    .buttons {
      display: flex;
    }
    button {
      margin: 0 1.5rem;
      font-size: $h3-size;
      border: none;
      background-color: white;
      // padding-top: 10px;
      cursor: pointer;
      position: relative;
    }
    .cart-items {
      position: absolute;
      top: -10px;
      right: -10px;
      width: 20px;
      height: 20px;
      font-family: $text-font;
      background-color: $bg-Lgreen;
      font-size: $h4-size;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-weight: 800;
      color: $text-black;
    }
    .cart-icon {
      font-size: $h2-size;
    }
    .mobile-links-icon {
      display: none;
      @media (max-width: 950px) {
        display: block;
      }
    }
    .link {
      position: relative;
      @media (max-width: 950px) {
        display: none;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $bg-Lgreen;
        transition: all 0.3s ease-in-out;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
}

//Mobile navigation
.mobile-nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 100%;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background-color: white;
  z-index: 5;
  transition: all 0.3s ease-in-out;
  .close-nav {
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 3rem;
    margin: 3rem;
    cursor: pointer;
  }
  &__links {
    list-style: none;
    li {
      text-align: center;
    }
    a {
      text-decoration: none;
      color: $text-black;
      font-size: $h1-size;
      font-family: $text-font;
      text-align: center;
      &:hover {
        color: $bg-Lgreen;
        transition: all 0.3s;
      }
    }
  }
}

.nav-open {
  left: 0;
  opacity: 1;
}

//cart modal
.cart-modal {
  position: fixed;
  width: 60vw;
  height: 100%;
  top: 0%;
  right: 100%;
  background-color: white;
  z-index: 102 !important;

  padding-top: 1rem;
  transition: all 0.3s ease-in-out;
  overflow: scroll;
  @media (max-width: 750px) {
    width: 100vw;
  }
  &__header {
    -webkit-box-shadow: 0px 4px 5px -5px #bee343;
    -moz-box-shadow: 0px 4px 5px -5px #bee343;
    box-shadow: 0px 4px 5px -5px #bee343;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3.2rem 2rem;
    font-family: $text-font;
    h2 {
      font-size: $h2-size;
      font-weight: 700;
      span {
        color: #bee343;
      }
    }
    svg {
      width: 3rem;
      height: 3rem;
      margin-left: rem;
      cursor: pointer;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
}
.cart-modal-product {
  display: flex;
  border-bottom: 1px solid $bg-Lbrown;
  position: relative;
  img {
    width: 150px;
    height: auto;
  }

  .remove-product {
    position: absolute;
    left: 0rem;
    top: -1px;
    font-size: $h3-size;
    font-weight: 700;
    color: $text-gray;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    h4 {
      font-size: $h3-size;
      font-weight: 700;
    }
    p {
      font-size: $h3-size;
      font-weight: 600;
      color: $text-gray;
    }
  }
  &__name-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__quantity-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    .cart-product__quantity {
      display: flex;
      flex-direction: column;
      button {
        border: none;
        background-color: $bg-Lgreen;
        font-size: $h3-size;
        font-weight: 700;
        color: white;
        cursor: pointer;
        &:hover {
          color: $bg-Lgreen;
        }
      }
    }
  }
}
.empty-cart {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: $h2-size;
  font-weight: 700;
  color: $text-gray;
  font-family: $text-font;
  height: 30rem;
  svg {
    width: 5rem;
    height: 5rem;
    margin-left: 2rem;
  }
}
.total-cost-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  button {
    background-color: initial;
    border: 2px solid #000;
    color: #000;
    font-size: 2rem;
    padding: 1rem 3.5rem;
    text-decoration: none;
    transition: all 0.2s;
    font-weight: 700;
    font-family: $text-font;
    cursor: pointer;
    &:hover {
      background-color: $bg-Lgreen;
      color: white;
      border: none;
    }
  }
}

.cart-open {
  right: 40%;
  opacity: 1;

  @media (max-width: 750px) {
    right: 0;
  }
}

.active {
  color: $bg-Lgreen !important;
}
