@use "../global/" as *;

.product-container {
  border: 2px solid #ffab523f;
  max-width: 250px;
  cursor: pointer;

  &:hover {
    border: 2px solid $bg-Lbrown;
  }
  &__image {
    position: relative;

    &::before {
      content: "صفحة المنتج";
      position: absolute;
      width: 10rem;
      height: 5rem;
      border-radius: 1rem;
      background-color: $bg-Lgreen;
      left: 50%;
      top: 100%;
      transform: translate(-50%, -50%);
      z-index: 10 !important;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: $h4-size;
      color: white;
      display: none;
      opacity: 0;
      transition: all 0.15s ease-in;
    }
    &:hover {
      &::before {
        display: flex;
        opacity: 0.8;
        top: 50%;
      }
    }

    img {
      width: 100%;
      height: auto;
      position: relative;
    }
  }
  .product-info {
    padding: 1rem;
    .name-price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h4 {
        font-size: $h3-size;
      }
      p {
        font-size: $h4-size;
      }
    }
    p {
      font-size: $h4-size;
      color: $text-gray;
    }
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    button {
      display: flex;
      align-items: center;
      border: none;
      border: 2px solid $bg-Lgreen;
      font-size: 1.3rem;
      font-weight: 700;
      font-family: $titles-font;
      cursor: pointer;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      transition: all 0.3s ease-in-out;
      background-color: $bg-Lgreen;
      color: white;
      svg {
        font-size: 3rem;
      }
      &:hover {
        background-color: transparent;
        color: $text-black;
      }
    }
    .add-to-cart {
      background-color: transparent;
      color: black;

      &:hover {
        background-color: $bg-Lgreen;
        color: white;
      }
    }
  }
}
.notify-container {
  position: fixed;
  width: 250px;
  text-align: center;
  top: 5rem;
  left: 50%;
  font-size: $h3-size;
  font-weight: 500;
  transform: translateX(-50%);
  background-color: white;
  padding: 1rem 2rem;
  z-index: 70;
  opacity: 0;
  line-height: 1.5;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.712);
  -moz-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.712);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.712);
  transition: all 0.3s ease-in-out;
}
.noify-active {
  top: 15rem;
  transition: all 0.3s ease-in-out;
  display: block;
  opacity: 1;
  ::before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: $bg-Lgreen;
    position: absolute;
    bottom: 0;
    left: 1rem;
    animation-name: slide;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-fill-mode: both;
  }
}
@keyframes slide {
  100% {
    left: -100%;
  }
}
